.outer-box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #1A1A1D;
}

.box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: rgb(204, 204, 204);
  border-radius: 8px;
  height: 60%;
  width: 35%;
}

@media (min-width: 320px) and (max-width: 480px) {
  .outer-box {
    height: 100%;
  }

  .box {
    width: 100%;
    height: 100%;
  }
}

@media (min-width: 480px) and (max-width: 1200px) {
  .box {
    width: 60%;
  }
}