.page-outerBox {
    text-align: center;
    color: white;
}

.page-box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

.page-button {
    color: #fff !important;
    text-transform: uppercase;
    text-decoration: none;
    background: rgb(87, 87, 87);
    border: none;
    border-radius: 10px;
    padding: 30px;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
    user-select: none;
    -webkit-user-drag: none;
}

